import { PropsWithChildren } from "react";
import styles from "./{{pascalCase name}}.module.scss";

export type {{pascalCase name}}Props = PropsWithChildren;

// TODO: Implement {{pascalCase name}}
export const {{pascalCase name}} = ( { children }: {{pascalCase name}}Props) => {
  return (
    <div className={ styles.{{camelCase name}} }>
      { children }
    </div>
  );
};